/* write your styles here */
html{
    scroll-behavior: smooth;
}
marquee{
    background-color:#ed484c;
    color: white;
    padding: 5px 0px;
}
body{
    margin: 0;
}

header{
display: flex;
justify-content: space-between;
background-color: #4c4c4c;
}

ul{
    list-style-type:none;
    display: flex;
    color: white;
  
}

li{
padding: 0px 10px;
font-family: 'Source Sans Pro', sans-serif;
}

header > img{
    height: 46px;
    padding: 5px 15px;
}

header > nav{
  height: 10px;
}

nav{display: flex;
list-style-type: none;
padding-inline-start: 0;
}

nav a{
text-decoration: none;
color: #c6c6c6;

}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 15px;
    background-image: url(images/floral.png);
    background-color: #f18c97;
}
h1{
    margin-block-end: 20px;    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: -webkit-xxx-large;
    text-align: center;
    
}

.s-para{
    color: black;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
 }


.about button{
    background-color: black;
    color: #f18c97;
    padding: 15px 57px;
    font-size: larger;
    border: none;
    margin: 15px;
}
h2{
    font-family: 'Sofia', cursive;
    color: black;
   
}
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/floral.png);
    background-color: #f0ece7;
}
#services div{
    display: flex;
}
#services figure{
    text-align: center;
}
#services i{
    font-size: 65px;
}
#services i:hover{
    color:rgb(241, 50, 50);
    transition: 0.5s;
}
#services p{
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
h4{
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: white;
}
#portfolio{
    display: flex;
    flex-direction: column;
    background-image: url(images/floral.png);
    background-color: #ddceb4;
    align-items: center;
    
}
#portfolio figure{
    position: relative;
}
#portfolio img{
    border-radius: 15px;
    height:  165px;
    width: 215px;
}
.workfirst-row{
    display: flex;
    justify-content: center;
}
.worksecond-row{
    display: flex;
    justify-content: center;
}
#portfolio figcaption{
    display: none;
}
#portfolio figure:hover figcaption{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:#0e0e0ede;
    border-radius: 15px;    
}

#portfolio button{
    border-radius: 100%;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 12px;
    color: black;
    margin-inline-start: 3px;
}
#portfolio button:hover{
    background-color: #0e0e0eeb;
    border-color: white;
    transition: 0.5s;
}
#portfolio button:hover i{
    color: white;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/floral.png);
    background-color: #afc7c6;
    padding-block-end: 20px;
}
#contact button{
    border-radius: 100%;
    background-color: #afc7c6;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 12px;
    color: black;
    margin-inline-start: 3px;
}
#contact button:hover{
    background-color: #222222;
    color: #fcdea6;
    transition: 0.5s;
}
#footer{
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: #f9f9f8;
    font-size: 17px;
    padding: 5px 0px;
}
#footer p{
    margin: 15px 0px;
}
#footer i{
    font-size: 19px;
    padding: 0px 5px;
    transition: 0.5s;
}
#footer:hover i{
    color: red;
}
@media screen and (min-width:591px) and (max-width: 768px){
    #services div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #portfolio-work{
        display: flex;
        justify-content: center;
    }
    #portfolio-work div{
        display: block;
        
    }
}
@media screen and (min-width:320px) and (max-width: 590px){
    header > img {
        padding-block-start: 6px;
        padding-block-end: 4px;
        width: 55px;
        height: 35px;
        padding-inline-start: 6px;
    }
    nav ul{
        margin: 10px 0px;
    }
    nav li {
        padding: 0px 5px;
    }
    #services div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #portfolio-work{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #portfolio-work div{
        display: block;
        
    }

}
