/* write your styles here */
marquee{
    background-color:#ed484c; 
    color: white;
    padding: 5px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0%;
}
header{
    display: flex;
    justify-content:space-between;
    background-color: #4c4c4c;
}
header > img{
    padding-block-start: 7px;
    padding-block-end: 7px;
    width: auto;
    height: 40px;
    padding-inline-start: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}
nav li{
    padding: 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
nav li a{
    text-decoration: none;
    color: #c6c6c6;
}
nav li a:hover{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}

.join-us{
    background-color: #f18c97;
    background-image: url(images/floral.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    padding-bottom: 45px;
}
h1{
    font-size: -webkit-xxx-large;
    font-family: 'Anton', sans-serif;
    margin-bottom: 20px;    
}
.same-parg{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.join-us button{
    border: none;
    font-family: 'Bree Serif', serif;
    background-color: black;
    padding: 15px 60px;
    font-size: larger;
    color: #f18c97;
}
.join-us button:hover{
    cursor: pointer;
    background-color: #e7e3de;
    transition: 0.5s;
}
h2{
    font-family: 'Caveat Brush', cursive;
    font-size: xx-large; 
}
h3{
    font-family: 'Bree Serif', serif;
}
.service {
    background-image: url(images/floral.png);
    background-color: #f0ece7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service div{
    display: flex;
    justify-content: center;
}
.service figure{
    text-align: center;

}
.service figure > i{
    font-size: 90px;
}
.service i:hover{
    transition: 0.3s;
    color: rgb(236, 72, 72);
}
.service figcaption p{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}
.portfolio{
    background-image: url(images/floral.png);
    background-color: #ddceb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.portfolio img{
    border-radius: 15px;
    height: 155px;
    width: 200px;
}
.portfolio-content div{
    display: flex;
    justify-content: center;
}
.portfolio figure{
    position: relative;
}
.portfolio figure:hover figcaption{
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 27px 28px 29px 27px;
}
.portfolio figcaption button:hover{
    color: #fcdea6;
    background-color: #585858db;
    border-color:#fcdea6;
}
.portfolio figcaption button{
    font-size: 15px;
    padding: 8px 9px;
    border-radius: 30px;
    background-color: rgba(175, 199, 198, 0);
    border: white solid 1px;
    margin-right: 10px;
    color: white;
}
h4{
    font-family: 'Bree Serif', serif;
    color: white;
}
.portfolio figcaption{
    text-align: center;
    display: none;
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.contact-us{
    background-image: url(images/floral.png);
    background-color: #afc7c6;
}
.contact-us button{
    font-size: 23px;
    padding: 10px 11px;
    border-radius: 30px;
    background-color: rgba(175, 199, 198, 0);
    border: #5a6464 solid 1px;
    margin-right: 10px;
}
.contact-us button:hover{
    color: #fcdea6;
    background-color: #222222;
    transition: 1s;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: #f9f9f8;
    font-size: 17px;
    padding: 5px 0px;
}
footer p{
    font-family: 'Hammersmith One', sans-serif;
    margin: 15px 0px;
}
footer i{
    font-size: 19px;
    padding: 0px 5px;
    transition: 0.5s;
}
footer:hover i{
    color: red;
}
@media screen and (min-width:426px) and (max-width: 768px){
    .service div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .portfolio-content{
        display: flex;
        justify-content: center;
    }
    .portfolio-content div{
        display: block;
        
    }
}
@media screen and (min-width:320px) and (max-width: 425px){
    header > img {
        padding-block-start: 6px;
        padding-block-end: 4px;
        width: 55px;
        height: 35px;
        padding-inline-start: 6px;
    }
    nav ul{
        margin: 10px 0px;
    }
    nav li {
        padding: 0px 5px;
    }
    .service div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .portfolio-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .portfolio-content div{
        display: block;
        
    }

}

